.ContainerCriarQuiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: var(--cor-principal);
    height: 100vh;
    width: 90vw;
    justify-self: center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 3rem;
}


.ContainerCriarQuiz h1{
    color: var(--cor-texto);
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.cimaQuiz{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1000px;
    width: 1200px;
    justify-content: center;
}

.CategoriasCriarQuiz{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    background-color: var(--cor-detalhes);
    align-items: center;
    border-radius: 25px;
    box-shadow: var(--cor-escura) 8px 8px;
    padding: 10px;
    padding-top: 15px;
    justify-content: space-between;
}

.categoriasPerguntasCriarQuiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 450px;
    width: 800px;
}

.categoriasCimaCriarQuiz{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 50px;
}

.categoriasPerguntasDireitaCriarQuiz{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    background-color: var(--cor-detalhes);
    align-items: center;
    border-radius: 25px;
    box-shadow: var(--cor-escura) 8px 8px;
    padding: 10px;
    padding-top: 15 px;
    justify-content: space-between;
}

.CategoriasBaixoCriarQuiz{
    display: flex;
    align-items: center;
    width: 100%;
}

.categoriasPerguntasBaixoCriarQuiz{
    margin-left: 3rem;
    display: flex;
    width: 667px;
    height: 100px;
    background-color: var(--cor-detalhes);
    border-radius: 25px;
    box-shadow: var(--cor-escura) 8px 8px;
    padding: 10px;
    padding-top: 15px;
}

.CategoriasCriarQuiz h1{
    color: var(--cor-texto);
    font-size: 2.0rem;
    margin-bottom: 2rem;
    
}

.divCriarQuiz{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.CheckBoxCriarQuiz{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    padding-right: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: 80%;
    margin-right: 10px;
}

.textCriarQuiz{
    color: var(--cor-texto);
    font-size: 1.3rem;
    
}

.ContainerCriarQuiz input[type="checkbox"] {
    all: unset;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: var(--cor-fundo);
    border-radius: 3px;
    border: 2px solid var(--cor-texto);
    transition: background-color 0.3s, border-color 0.3s;
}

.ContainerCriarQuiz input[type="checkbox"]:checked {
    background-color: var(--cor-escura); /* Cor de fundo quando selecionado */
    border-color: var(--cor-escura); /* Cor da borda quando selecionado */
}

.ContainerCriarQuiz input[type="checkbox"]:hover {
    border-color: var(--cor-hover); /* Cor da borda ao passar o mouse */
}

.categoriasPerguntasDireitaCriarQuiz h1{
    color: var(--cor-texto);
    font-size: 2rem;
}

.TextQuestoes{
    color: var(--cor-texto);
    font-size: 1.3rem;
}

