.containerJogarQuiz {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 70vw;
    background-color: var(--cor-principal);
    border-end-end-radius: 5rem;
    border-start-end-radius: 5rem;
    padding: 2rem;
    gap: 4rem;
    box-shadow: var(--cor-detalhes) 1rem 1rem;
}

.containerJogarQuiz h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--cor-texto);
    width: 45rem;
    margin-top: 2rem;
}

.containerAlternativasJogar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 40rem;
    width: 100%;
    margin-top: 1rem;
}

.perguntaJogarQuiz {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 2rem;
    height: 6rem;
    width: 90%;
    border-radius: 2rem;
    gap: 2rem;
}

.alternativaJogar{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 2rem;
    height: 6rem;
    width: 90%;
    background-color: var(--cor-detalhes);
    border-radius: 2rem;
    cursor: pointer;
    transition: transform 150ms ease;
    transform: translateX(0);
    box-shadow: var(--cor-escura) 8px 8px;
}

.alternativaJogar:hover{
    transform: translateX(0.6rem);
}

.numAlternativa{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: var(--cor-texto);
    background-color: var(--cor-escura);
    height: 5rem;
    width: 5rem;
    border-radius: 2.5rem;
}

.textAlternativa{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--cor-texto);
    text-indent: 2rem;
}

.containerPoderes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-right: 2rem;
    height: 90%;
    width: 25vw;
}

.bodyJogarQuiz {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    background-color: var(--cor-fundo);
}

.poderesJogar {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    height: 10rem;
    width: 10rem;
    background-color: var(--cor-detalhes);
    border-radius: 5rem;
    transition: scale 150ms ease;
}

.poderesJogar:hover{
    scale: 1.1;
}

.containerContainerPoderes{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
}

.quantidadePoderes {
    background-color: var(--cor-escura);
    height: 4rem;
    width: 4rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: end;
    margin-left: auto;
    color: var(--cor-texto);
    font-size: 2rem;
    z-index: 1;
}

#timerJogar{
    font-size: 4rem;
    color: var(--cor-texto);
    background-color: var(--cor-escura);
    height: 5.5rem;
    width: 15rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconPoder {
    position: absolute;
    font-size: 6rem;
    color: var(--cor-texto);
    z-index: 0;
}
