.bodyTerminar{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: end;
}
.containerTerminar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor-principal);
    height: 90vh;
    width: 90vw;
    max-width: 90rem;
    border-start-end-radius: 4rem;
    border-start-start-radius: 4rem;
}