.bodyTerminar {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: var(--cor-fundo);
    transition: background-color .25s, color .25s;
}

.containerTerminar {
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: var(--cor-principal);
    color: var(--cor-texto);

    height: 90vh;
    width: 90vw;
    max-width: 90rem;

    border-start-end-radius: 4rem;
    border-start-start-radius: 4rem;

    box-shadow: 0 -8px 20px rgba(0,0,0,0.15);
    transition: background-color .25s, color .25s, box-shadow .25s;

    position: relative;
}

.trilhoCards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 17rem;
    width: 100%;
}

/* ====== CARDS ====== */
.cardResultado,
.cardGrafico {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
    border-radius: 1rem;

    background-color: var(--cor-detalhes);
    box-shadow: 6px 6px 0 var(--cor-escura);

    transition: background-color .25s, box-shadow .25s;
}

.cardResultado {
    height: 11rem;
    width: 22.5rem;
}

.cardGrafico {
    height: 13rem;
    width: 30rem;
}

/* Texto dentro dos cards */
.pCard {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--cor-texto);
}

/* Títulos e textos */
.containerTerminar h1 {
    font-size: 3rem;
    color: var(--cor-texto);
}

.containerTerminar p {
    font-size: 1.5rem;
    color: var(--cor-texto);
}

.containerTerminar h2 {
    font-size: 5rem;
    color: var(--cor-texto);
}

/* Ícone (voltar) */
.containerTerminar i {
    color: var(--cor-texto);
    font-size: 4rem;

    position: absolute;
    top: 1rem;
    left: 1.2rem;

    cursor: pointer;
    transition: color .25s, transform .2s ease;
}

.containerTerminar i:hover {
    transform: scale(1.1);
}
