.rf-container {
  text-align: center;
  padding: 30px;
  color: var(--cor-texto);
}

.rf-container h1 {
  font-size: 42px;
  color: var(--cor-texto);
  margin-bottom: 10px;
}

.rf-title {
  font-size: 32px;
  margin-bottom: 25px;
  color: var(--cor-texto);
}

/* ===== PODIUM ===== */
.rf-podium {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 40px;
  height: 200px;
  margin-bottom: 30px;
}

.rf-first,
.rf-second,
.rf-third {
  width: 130px;
  border-radius: 12px;
  padding-top: 10px;
  color: var(--cor-texto-claro);
  background: var(--cor-destaque);
  box-shadow: 0 6px 12px var(--cor-sombra);
  transition: background-color .25s, color .25s;
}

.rf-first {
  height: 170px;
  background: var(--cor-principal);
}

.rf-second {
  height: 130px;
  background: var(--cor-principal-secundaria);
}

.rf-third {
  height: 120px;
  background: var(--cor-principal-terciaria);
}

.rf-podium h3 {
  font-size: 40px;
}

.rf-podium p {
  font-size: 20px;
  margin-top: 5px;
}

/* ===== LISTA ===== */
.rf-lista {
  margin-top: 25px;
  padding: 0;
}

.rf-lista li {
  background: var(--cor-principal);
  color: var(--cor-texto-claro);
  margin: 8px auto;
  width: 300px;
  padding: 12px;
  list-style: none;
  border-radius: 12px;
  font-size: 20px;
  display: flex;
  gap: 12px;
  justify-content: center;
  box-shadow: 0 4px 8px var(--cor-sombra);
  transition: background-color .25s, color .25s;
}
