.tg-wrapper {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 30px;
  background: linear-gradient(145deg, #c7edf1, #8bbbc4);
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
}

.tg-container {
  width: 100%;
  text-align: center;
}

.tg-container h1 {
  font-size: 40px;
  color: #2b5f6b;
  margin-bottom: 30px;
}

.tg-boxes {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.tg-col {
  background: #b6e0e5;
  width: 260px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 6px 12px #00000020;
  transition: 0.3s;
}

.tg-col h2 {
  background: #79c5d0;
  padding: 10px;
  border-radius: 10px;
  font-size: 22px;
  color: #fff;
}

.tg-col ul {
  padding: 0;
  margin-top: 15px;
}

.tg-col li {
  list-style: none;
  background: #5bb6c5;
  padding: 10px;
  margin: 6px 0;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  box-shadow: 0 3px 5px #00000025;
}
