@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root{
    --cor-principal: #82c0cc;
    --cor-fundo: #edf2f4;
    --cor-detalhes: #489fb5;

    --fonte: "Comic Relief", system-ui;
}