.cabecalhoContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100vw;
    background-color: var(--cor-detalhes);
    padding: 16px;
}

.cabecalhoContainer i{
    color: var(--cor-fundo);
    font-size: 40px;
}

.cabecalhoContainer button{
    all: unset;
    cursor: pointer;
}

.esquerdaCabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.botaoPerfil{
    all: unset;
}

.direitaCabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.botaoLogin{
    background-color: transparent;
    height: 40px;
    width: 65px;
    margin-top: 5px;
    color: var(--cor-fundo);
    border: 2px solid var(--cor-fundo);
}

.direitaCabecalho i{
    border: 2px solid var(--cor-fundo);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}
