.cabecalhoContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--altura-cabecalho);
    width: 100vw;
    background-color: var(--cor-principal);
    padding: 16px;
}

.cabecalhoContainer button{
    cursor: pointer;
}

.esquerdaCabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    gap: 16px;
} 

.direitaCabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 150px;
}

.direitaCabecalho i{
    border: 2px solid var(--cor-texto);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.person{
    color: var(--cor-texto);
    font-size: 40px;
}

.menu{
    margin-top: 5px;
    text-indent: 10px;
    color: var(--cor-texto);
    font-size: 30px;
}

.esquerdaCabecalho button{
    all: unset;
    cursor: pointer;
}


.botaoPerfil{
    all: unset;
    height: 40px;
    width: 45px;
}

.botaoLogin{
    all: unset;
    background-color: transparent;
    color: var(--cor-texto);
    border: 2px solid var(--cor-texto);
    height: 40px;
    width: 65px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
}


